<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust Wonders</title>
    <link rel="stylesheet" href="/styles.css?v=<%= Date.now() %>">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
   <%- include("header.ejs") %> 

   <div class="container my-5">
    <h1 class="lead fs-3 fw-semibold mb-4">Manage entries</h1>
    <table class="table table-striped">
        <thead>
          <tr class="table-dark">
            <th scope="col">ID</th>
            <th scope="col">Author name / Date published</th>
            <th scope="col" class="ps-5">Blog title</th>
            <th scope="col" class="ps-4">Image</th>
            <th scope="col" class="ps-5">Actions</th>
          </tr>
        </thead>
        <tbody>
            <% blogPosts.forEach((post, index) => { %>
           <tr>
            <th scope="row"><%= index + 1 %></th>
            <td> 
                <strong><%= post.author %></strong><br>
                <small class="text-muted"><%= post.date %></small>
            </td>
            <td><%= post.title %></td>
            <td><img src="<%= post.image %>" alt="Post image" style="max-width: 100px; height: auto;" class="img-thumbnail">
            </td>
            <td>
                <a href="/edit/<%= index %>" class="btn btn-dark w-100 mt-3 mb-2">Edit</a>
                <br>
                <form action="/delete/<%= index %>" method="POST">
                    <button type="submit" class="btn btn-dark w-100">Delete</button>
                </form>
            </td>
          </tr>
          <% }); %>
        </tbody>
    </table>
</div>


   <!-- Footer -->

 <%- include("footer.ejs") %>


</body>
</html>