<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust Wonders</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include("header.ejs") %> 

  <!-- Hero Image -->

<div class="container-fluid p-0">
    <div class="position-relative text-center text-white">
        <img src="/images/Glico-man.jpg" class="img-fluid w-100" style="height: 900px; object-fit: cover;" alt="Glico man">

       
        <div class="overlay"></div>  <!-- Dark Overlay -->
        <div class="position-absolute top-0 start-50 translate-middle-x mt-5">
            <h1 class="display-3 fw-bold">Welcome to Wanderlust Wonders</h1>
            <p class="lead fs-3 fw-normal">Your go-to space for sharing travel tales, tips and top destinations!</p>
            <p class="text-center fs-4 fw-normal">Whether you're a solo adventurer, reminiscing about your first trip or a seasoned traveller with insider recommendations, this is where your journey comes to life.</p>
            <p class="text-center fs-4 fw-normal">Create posts, inspire others and showcase your travel wisdom. Let’s wander together and discover the world, one story at a time!</p> 
                
            <a href="/create" class="btn btn-dark btn-lg">Write a post</a>
        </div>
 </div>
</div>

<div class="container my-5">
    <div class="row g-4">
        <% blogPosts.forEach((post, index) => { %>
        <div class="col-12 col-md-6 col-lg-4">
        <div class="card h-100">
            <img src="<%= post.image %>" class="card-img-top" alt="<%= post.title %>">
            <div class="card-body">
                <p class="card-author">Posted by <%= post.author %>, <%= post.date %></p>
                <h5 class="card-title"><%= post.title %></h5>
                <p class="card-text"><%= post.content.substring(0, 100) %>...</p>
                <a href="/post/<%= index %>" class="btn btn-dark">Read More</a>
            </div>
        </div>
   </div>
   <% }) %>
    </div>
</div>

        <!-- Footer -->

        <%- include("footer.ejs") %> 
</body>
</html>